/* Elements */
body {
    padding: 0px;
    margin: 0px;
    font-size: 90%;
}

/* Layout */
.wrapper{
    margin: 0px auto;
    width: 1024px;
}
.header{
    float: left;
    width: 100%;
    background-color: #ffffff
}

.header .header-logo {
    float: left;
    width: 75%;
}

.header .header-login {
    float: left;
    width: 25%;
    padding-top: 3.5em;
    color: gray;
}

.header .header-login .header-login-form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


.left{
    float: left;
    width: 256px;
    min-height: 600px;
    background-color: #164796;
}

.left .menu {
}

.left .menu li {
    list-style-type: none;
    width: 100%;
}

.left .menu li a, .left .menu li a:visited {
    display:block;
    font-family:serif, verdana, sans-serif;
    font-size:2.0em;
    text-decoration:none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    font-weight: bold;
}

.content{
    float: left;
    width: 502px;
    padding-left: 10px;
}
.right{
    float: left;
    text-align: center;
    width: 256px;
}

.right img {
    display:inline;
}

.footer{
    float: left;
    width: 100%;
    color: gray;
    background-color: #ffffff;
    text-align: center;
}

.footer a {
    color: gray;
}

